<h1 class="text-pretty text-3xl font-semibold md:w-2/3 md:text-5xl">
  👋🏼 Hey, I'm Dhony. <br />Data analyst and software developer.
</h1>

<p class="text-pretty mt-4 leading-relaxed md:mt-8 md:w-2/3">
  Hi there!
</p>
<p class="text-pretty mt-4 leading-relaxed md:mt-8 md:w-2/3">
  As a lifelong learner, I am always learning new things. At the moment I'm learning the Elixir language and how to build web applications using Phoenix Framework.
</p>
<p class="text-pretty mt-4 leading-relaxed md:mt-8 md:w-2/3">
  I am an active contributor in my local tech community organizing events, giving talks and training about programming languages, data analysis, web development, and topics related to soft skills (creativity, emotional intelligence, entrepreneurship). Entrepreneur and business-minded. Interested in new technologies and trends.
</p>

<div class="mt-4 md:mt-8">
  <.contact_links class="flex space-x-6" icon_class="h-6 md:h-8 w-auto fill-current text-content" />
</div>

<section>
  <div class="mt-8 flex items-center md:mt-12">
    <h2 class="text-xl font-semibold">Latest blog posts</h2>
    <.link navigate={~p"/blog"} class="btn btn-link no-underline group">
      <span class="group-hover:underline">View all</span>
      <.icon name="hero-arrow-right" />
    </.link>
  </div>

  <%!-- <.grid class="mt-2 md:mt-4">
    <.blog_preview_card
      :for={article <- @articles}
      link={~p"/blog/#{article.slug}"}
      title={article.title}
      date={article.date}
      description={article.description}
      read_minutes={article.read_minutes}
    />
  </.grid> --%>
</section>